<div class="container">
    <div class="footer">
      <small>
        copyright &copy;  <a href="https://www.udemy.com/">Ruby on rails coure</a>
        <a href="https://www.facebook.com/akaromi">my fb link</a>

          </small>
      <nav>
        <ul>
            <li><%= link_to "about us" , about_path %>
          </li></ul>
          </nav>
        </div>
  </div>